@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

[contenteditable] {
  outline: 0 solid transparent;
}

.yellow {
  background-color:#cc0b0b ;
  transition: 0.5s;
}

.hide {
  display: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #b8a8b5;
  margin-top: 30px;
  background-color: #590049;
}

#clear {
  margin: 10px;
  font-size: 16px;
  color: blue;
  opacity: 0.6;
  border-radius: 20px;
  background-color: #ec1010;
}

#clear:hover {
  /* text-decoration: underline; */
  opacity: 1;
  cursor: pointer;
  color: #ec1010;
}

li {
  list-style: none;
}

#wrapper {
  width: 30%;
  margin: auto;
  box-shadow: 2px 2px 10px 2px #e7dfe6;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#todo-list > li {
  border-top: 1px solid #f1e2ef;
}

#wrapper > ul > li:last-child {
  border-top: 1px solid #f7ecf5;
  padding: 15px;
}

#wrapper > ul > li:first-child {
  border-bottom: 1px solid rgb(218, 201, 201);
}

#title,
form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

#title {
  padding: 15px;
}

.list i {
  padding: 15px;
  opacity: 0.5;
}

i:hover {
  cursor: pointer;
  opacity: 1;
}

form {
  padding-right: 15px;
}

#title i {
  color: #333;
  margin-right: 20px;
}

.list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.list div {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: left;
  padding-left: 15px;
}

.list p {
  font-size: 15px;
  padding: 15px 0;
  width: 100%;
  opacity: 0.8;
}

form input[type="text"] {
  border: none;
  font-size: 15px;
  font-style: italic;
  opacity: 0.8;
  width: 80%;
  padding: 15px 0 15px 15px;
}

form input[type="text"]::placeholder {
  font-style: italic;
  color: #333;
  opacity: 0.6;
}

form input:focus {
  outline: none;
}

/* submit button */
#btn {
  background-color: #fff;
  border: none;
}

#btn:hover,
input[type="checkbox"] {
  cursor: pointer;
}

#btn i {
  padding-right: 4px;
}

.line {
  text-decoration: line-through;
  color: rgb(153, 153, 153);
}

li input[type="checkbox"] {
  margin-right: 15px;
}

@media (max-width: 768px) {
  #wrapper {
    width: 85%;
  }
}
